@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #282828;
  --color-secondary: #333333;
  --color-icon: #b4648aff;
  --color-accent: #c06a87;
  --font-poppins: "Poppins", sans-serif;
  --color-primary-pink: #f92687;
  --font-color: #f8f8f8;
}

:root {
  --font-poppins: "Poppins", sans-serif;

  --primary-color: #282828;
  --secondary-color: #333333;
  --primary-pink: #f92687;
  --accent-color: #c06a87;
  --icon-color: #b4648aff;
  --font-color: #f8f8f8;
}

body {
  font-family: var(--font-poppins);
  color: var(--font-color);
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

.icon {
  color: var(--color-icon);
  font-size: 2rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-margin {
  margin-left: 1rem;
}

.icon:hover {
  transform: scale(1.1);
  color: hsl(332, 35%, 60%);
}

.nav-link {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--font-color);
}
